body {
	background-color: black;
	font-size: 16px;
	padding: 0;
}

#display {
	text-align: right;
	font-size: 3em;
}

#buttons {
	padding: 0px;
}

#result {
	color: white;
}

#calculator {
	background-color: black;
	position: fixed;
    bottom: 0;
    width: 100%;
}

.group1 {
	background-color: gray;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 0px;
}
.group2 {
	background-color: orange;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: white;
	border-radius: 0px;
}