body {
	background-color: black;
	font-size: 16px;
}

#display {
	text-align: right;
	font-size: 3em;
}

#result {
	color: white;
}

#calculator {
	background-color: black;
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0px;
}

.group1 {
	background-color: gray;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 0px;
}
.group2 {
	background-color: orange;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: white;
	border-radius: 0px;
}

/* Active for anything larger than 767 px, laptop sized */
@media screen and (min-width: 768px){
	#calculator {
		position: absolute;
	    margin: auto;
	    width: 400px;
	    top: 50%
	    left: 50%;
	}
}